* {
  box-sizing: border-box;
}

body {
  background-color: #484E55;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
  color: #ffffff;
}

header {
  background-color: #16BBD5;
  padding: 10px 0;
  font-weight: bold;
  text-align: center;
  box-shadow: 2px 2px 1px rgba(50, 50, 50, 0.75);
  box-shadow: 4px 4px 2px 2px rgba(50, 50, 50, 0.75);
  box-shadow: inset -2px -3px 3px 0px rgba(50, 50, 50, 0.75);
  position: fixed;
  width: 100%;
}

main {
  margin-top: auto;
}

selector {
  margin: 0 auto;
  /* No spacing to top and bottom and auto spacing to left and right */
  position: relative;
  float: right;
  width: 80%;
  float: right;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
  padding-top: 20px;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

/* custom classes to help  */
.makeUppercase {
  text-transform: uppercase;
}

.makeLowercase {
  text-transform: lowercase;
}

.underlineMe {
  text-decoration: underline;
}

img {
  width: 100%;
}

img.one {
  height: 50%;
  width: 50%;
}

img.two {
  height: 30%;
  width: 30%;
}

a {
  color: #ffffff
}

a:hover {
  color: #77FDC8;
}

a:focus {
  color: #ffffff;
  text-decoration: underline;
}

div.container {
  margin: 0 auto;
}

div.container a {
  color: #FFF;
  text-decoration: none;
  position: relative;
  z-index: 0;
  cursor: pointer;
}

div.topBotomBordersOut a:before, .topBotomBordersOut a:after {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 2px;
  background: #FFF;
  content: "";
  opacity: 0;
  transition: all 0.3s;
}

div.topBotomBordersOut a:before {
  top: 0px;
  transform: translateY(10px);
}

div.topBotomBordersOut a:after {
  bottom: 0px;
  transform: translateY(-10px);
}

div.topBotomBordersOut a:hover:before, .topBotomBordersOut a:hover:after {
  opacity: 1;
  transform: translateY(0px);
}

.button {
  display: inline-block;
  background-color: #16BBD5;
  color: #FFFFFF;
  font-weight: 400;
  padding: 10px;
  text-decoration: none;
  border-radius: 3px;
  border-bottom: 2px solid #000000;
  transition: 0.2s opacity;
  transition-duration: 0.2s;
}

.button:hover {
  opacity: 0.8;
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #16BBD5;
  text-transform: uppercase;
  border: 2px solid #16BBD5;
}

.button.contact:hover {
  background-color: #16BBD5;
  color: #ffffff;
}

.button.readmore {
  background-color: transparent;
  color: #16BBD5;
  text-transform: uppercase;
  border: 2px solid #16BBD5;
}

.button.readmore:hover {
  background-color: #16BBD5;
  color: #ffffff;
}

.button.downloadCV {
  background-color: transparent;
  color: #16BBD5;
  text-transform: none;
  border: 2px solid #16BBD5;
  position: static;
}

.button.downloadCV:hover {
  background-color: #16BBD5;
  color: #ffffff;
}
/* Layout styling */
.container {
  padding: 0px 15px;
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

#hero h1 {
  text-align: center;
  /* Centers text */
}

#mystory .container {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
  margin: 25px 0;
}

.center {
  text-align: center;
}

.logo {
  max-width: 250px;
  font-size: 1.5em;
  font-weight: 600;
  line-height: 2.5em;
}

nav {
  width: auto;
  float: right;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav>ul>div>li {
  display: inline-block;
}

nav>ul>div>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #FFFFFF;
}

#hero {
  background-color: #16BBD5;
  padding: 40px 0;
  display: inline-block;
  width: 100%;
}

#hero span {
  display: block;
}

#about h3 {
  margin-top: 0;
}

#mystory .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

#telephone {/* id selector */
  color: #16BBD5;
}

.telephone {/* class selector */
  color: #16BBD5;
}

#telephone:hover {
  color: #ffffff;
  text-decoration: underline;
}

#telephone:focus {
  color: #ffffff;
  text-decoration: underline;
}

#skype {/* id selector */
  color: #16BBD5;
}

.skype {/* class selector */
  color: #16BBD5;
}

#skype:hover {
  color: #ffffff;
  text-decoration: underline;
}

#skype:focus {
  color: #ffffff;
  text-decoration: underline;
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 10px 0 4px;
  }

  main {
    padding-top: 56px;
  }

  nav {
    width: auto;
    float: right margin-top: 16px;
  }

  #hero span {
    display: block;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding: 20px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #about h3 {
    margin-top: 0;
  }

  /* ==============================
Large devices (1024px or larger)
================================= */
  @media only screen and (min-width: 1024px) {
    .container {
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
    }

    /* ==============================
X-large devices (1440px or larger)
================================= */
    @media only screen and (min-width: 1440px) {}

    /* ==============================
Extra-large devices (1920px or larger)
================================= */
    @media only screen and (min-width: 1920px) {}
