* {
  box-sizing: border-box;
}

body {
  background-color: #484E55;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
  color: #ffffff;
}

header {
  background-color: #16BBD5;
  padding-bottom: 30px;
  padding: 10px 0 4px;
  font-weight: bold;
  box-shadow: 2px 2px 1px rgba(50, 50, 50, 0.75);
  box-shadow: 4px 4px 2px 2px rgba(50, 50, 50, 0.75);
  box-shadow: inset -2px -3px 3px 0px rgba(50, 50, 50, 0.75);
  position: fixed;
  width: 100%;
}

selector {
  margin: 0 auto;
  /* No spacing to top and bottom and auto spacing to left and right */
  position: relative;
  float: right;
  width: 80%;
  float: right;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
  padding-top: 30px;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

/* custom classes to help  */
.makeUppercase {
  text-transform: uppercase;
}

.makeLowercase {
  text-transform: lowercase;
}

.underlineMe {
  text-decoration: underline;
}

img {
  width: 100%;
}

img.one {
  height: 50%;
  width: 50%;
}

img.two {
  height: 50%;
  width: 50%;
}

a {
  color: #ffffff
}

a:hover {
  color: #77FDC8;
}

a:focus {
  color: #ffffff;
  text-decoration: underline;
}

div.container {
  margin: 0 auto;
}

div.container a {
  color: #FFF;
  text-decoration: none;
  position: relative;
  z-index: 0;
  cursor: pointer;
  text-align: center;
}

ul.topBotomBordersOut a:before, .topBotomBordersOut a:after {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 2px;
  background: #FFF;
  content: "";
  opacity: 0;
  transition: all 0.3s;
}

ul.topBotomBordersOut a:before {
  top: 0px;
  transform: translateY(10px);
}

ul.topBotomBordersOut a:after {
  bottom: 0px;
  transform: translateY(-10px);
}

ul.topBotomBordersOut a:hover:before, .topBotomBordersOut a:hover:after {
  opacity: 1;
  transform: translateY(0px);
}

.button {
  display: inline-block;
  background-color: #16BBD5;
  color: #FFFFFF;
  font-weight: 400;
  padding: 10px;
  text-decoration: none;
  border-radius: 3px;
  border-bottom: 2px solid #000000;
  transition: 0.2s opacity;
  transition-duration: 0.2s;
}

.button:hover {
  opacity: 0.8;
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #16BBD5;
  text-transform: uppercase;
  border: 2px solid #16BBD5;
}

.button.contact:hover {
  background-color: #16BBD5;
  color: #ffffff;
}

.button.readmore {
  background-color: #16BBD5;
  color: #FFFFFF;
  text-transform: uppercase;
  border: 2px solid #16BBD5;
  border-bottom: 2px solid #000000;
  position: static;
}

.button.readmore:hover {
  background-color: #16BBD5;
  color: #ffffff;
  border: 2px solid #16BBD5;
  border-bottom: 2px solid #000000;
  position: static;
}

.button.seebehance {
  background-color: #16BBD5;
  color: #FFFFFF;
  border: 2px solid #16BBD5;
  border-bottom: 2px solid #000000;
  position: static;
}

.button.seebehance:hover {
  background-color: #16BBD5;
  color: #ffffff;
  border: 2px solid #16BBD5;
  border-bottom: 2px solid #000000;
  position: static;
}

.button.downloadCV {
  background-color: transparent;
  color: #16BBD5;
  text-transform: none;
  border: 2px solid #16BBD5;
  position: static;
}

.button.downloadCV:hover {
  background-color: #16BBD5;
  color: #ffffff;
}

/* Layout styling */
.container {
  padding: 10px 15px;
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
  padding-top: 25px;
}

#hero h1 {
  text-align: center;
  padding-top: 0px;
}

#mystory .container {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
  padding-top: 20px;
}

#getinked {
  padding-top: 20px;
}

#footer .container {
  text-align: center
}

#footer h2 {
  text-align: center;
}

#footer p {
  text-align: center;
  float: center;
  position: fixed;
}

.center {
  text-align: center;
}

.logo {
  max-width: 150px;
  min-width: 250px;
  font-size: 1.5em;
  font-weight: 600;
  line-height: 2.5em;
  float: left;
  position: relative;
}

nav {
  width: auto;
  float: right;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #FFFFFF;
}

.navtoggle.responsive li {
  display: block;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
}

.navtoggle.responsive li {
  display: block;
}

.navtoggle.responsive nav {
  padding: 0 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 0px 0;
  border-top: 0px solid rgba(255, 127, 80, 0.5);
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

ul.social_icons, li.social {
  text-decoration: none;
  display: inline-block;
  position: relative;
  list-style: none;
  float: center;
}

ul.social_icons>li.social {
  display: inline-block;
  padding: 10px;
}

#hero {
  background-color: #16BBD5;
  padding: 40px 0;
  display: inline-block;
  width: 100%;
}

#hero span {
  display: block;
}

#about h3 {
  margin-top: 0;
}

#mystory .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

#telephone {
  /* id selector */
  color: #16BBD5;
}

.telephone {
  /* class selector */
  color: #16BBD5;
}

#telephone:hover {
  color: #ffffff;
  text-decoration: underline;
}

#telephone:focus {
  color: #ffffff;
  text-decoration: underline;
}

#skype {
  /* id selector */
  color: #16BBD5;
}

.skype {
  /* class selector */
  color: #16BBD5;
}

#skype:hover {
  color: #ffffff;
  text-decoration: underline;
}

#skype:focus {
  color: #ffffff;
  text-decoration: underline;
}

.background {
  width: 800px;
  margin: 30px auto;
}

@keyframes sky-change {
  0% {
    fill: #81d4fa;
  }

  50% {
    fill: #1b6182;
  }

  100% {
    fill: #9fbfcf;
  }
}

svg .cls-2 {
  animation-name: sky-change;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

svg .cls-21, svg .cls-20, svg .cls-19,
svg .cls-22, svg .cls-14, svg .cls-23 {
  animation-name: ship-move, ship-move1;
  animation-duration: 20s, 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-timing-function: ease-in-out;
}

@keyframes ship-move {
  0% {
    transform: translate(-240px);
  }

  100% {
    transform: translate(240px);
  }
}

@keyframes ship-move1 {
  0% {
    transform: rotate(3deg);
  }

  50% {
    transform: rotate(-0.5deg);
  }

  100% {
    transform: rotate(4deg);
  }
}

svg .cls-4:first-child, svg .cls-5 {
  animation-name: back-cloud-move;
  animation-duration: 200s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: translate(240px);
}

@keyframes back-cloud-move {
  0% {
    transform: translate(240px);
  }

  100% {
    transform: translate(-240px);
  }
}

svg .cls-4:not(:first-child), svg .cls-13 {
  animation-name: cloud-move;
  animation-duration: 70s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: translate(-240px);
}

@keyframes cloud-move {
  0% {
    transform: translate(-240px);
  }

  100% {
    transform: translate(240px);
  }
}

svg .cls-24 {
  animation-name: wave1-move;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: translateY(1px);
}

@keyframes wave1-move {
  0% {
    transform: translateY(2px);
  }

  50% {
    transform: translateY(-2px);
  }
}

svg .cls-25 {
  animation-name: wave2-move;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: translateY(0px);
}

@keyframes wave2-move {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(3px);
  }
}

svg .cls-26 {
  animation-name: wave3-move;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: translateY(0px);
}

@keyframes wave3-move {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(2px);
  }
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 641px) {
  header {
    text-align: unset;
    padding: 10px 0 13px;
  }

  main {
    padding-top: 70px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  nav>ul {
    margin: 1em 0;
  }

  nav>ul>li {
    display: inline-block;
  }

  nav>ul>div>li>a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #FFFFFF;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  #hero span {
    display: block;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding: 20px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #about h3 {
    margin-top: 0;
  }

  div.container {
    margin: 0 auto;
    padding top: 40px;
  }

  /* ==============================
Large devices (1024px or larger)
================================= */
  @media only screen and (min-width: 1024px) {
    .container {
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
    }

    /* ==============================
X-large devices (1440px or larger)
================================= */
    @media only screen and (min-width: 1440px) {}

    /* ==============================
Extra-large devices (1920px or larger)
================================= */
    @media only screen and (min-width: 1920px) {}
