html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

html, body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
  color: #000000;
}

header {
  background-color: #e4e8f0;
  padding: 10px 0 4px;
  font-weight: bold;
  box-shadow:  0 8px 5px 0 rgb(0 0 0 / 60%);
  box-shadow: inset -2px -3px 3px 0px rgba(50, 50, 50, 0.75);
  position: fixed;
  display: inline;
  width: 100%;
}

footer {
  background: #e4e8f0;
  border-top: 2px solid #ffffff;
  display: inline-block;
  align: center;
  width: 100%;
  padding-bottom: 30px;
  padding: 10px 0 4px;
}

selector {
  margin: 0 auto;
  /* No spacing to top and bottom and auto spacing to left and right */
  position: relative;
  float: right;
  width: 80%;
  float: right;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  color: #ffffff font-size: 2.75em;
  font-weight: 700;
  padding-top: 30px;
}

h2 {
  font-size: 2.10em;
  font-weight: 700;
}

h3 {
  color: #000000 font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

.makeUppercase {
  text-transform: uppercase;
}

.makeLowercase {
  text-transform: lowercase;
}

.underlineMe {
  text-decoration: underline;
}

img {
  width: 100%;
}

img.one {
  height: 50%;
  width: 50%;
}

img.two {
  height: 50%;
  width: 50%;
}

a {
  color: #000000
}

a:hover {
  color: #000000;
}

a:focus {
  color: #000000;
  text-decoration: underline;
}

div.container {
  margin: 0 auto;
}

div.container a {
  color: #000000;
  text-decoration: none;
  position: relative;
  z-index: 0;
  cursor: pointer;
  text-align: center;
}

div {
  display: block;
}

ul.topBotomBordersOut a:before, .topBotomBordersOut a:after {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 2px;
  background: #000000;
  content: "";
  opacity: 0;
  transition: all 0.3s;
}

ul.topBotomBordersOut a:before {
  top: 0px;
  transform: translateY(10px);
}

ul.topBotomBordersOut a:after {
  bottom: 0px;
  transform: translateY(-10px);
}

ul.topBotomBordersOut a:hover:before, .topBotomBordersOut a:hover:after {
  opacity: 1;
  transform: translateY(0px);
}

.button {
  display: inline-block;
  background-color: #e4e8f0;
  color: #000000;
  font-weight: 400;
  padding: 10px;
  text-decoration: none;
  border-radius: 3px;
  border-bottom: 2px solid #000000;
  transition: 0.2s opacity;
  transition-duration: 0.2s;
}

.button:hover {
  opacity: 0.8;
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #000000;
  text-transform: uppercase;
  border: 2px solid #000000;
}

.button.contact:hover {
  background-color: #000000;
  color: #ffffff;
  text-transform: uppercase;
  border: 2px solid #ffffff;
  border-bottom: 2px solid #000000;
  position: static;
}

.button.readmore {
  background-color: #e4e8f0;
  color: #000000;
  border: 2px solid #e4e8f0;
  border-bottom: 2px solid #000000;
  position: static;
}

.button.readmore:hover {
  background-color: #000000;
  color: #ffffff;
  text-transform: uppercase;
  border: 2px solid #ffffff;
  border-bottom: 2px solid #000000;
  position: static;
}

.button.seebehance {
  background-color: #e4e8f0;
  color: #000000;
  border: 2px solid #e4e8f0;
  border-bottom: 2px solid #000000;
  position: static;
}

.button.seebehance:hover {
  background-color: #000000;
  color: #ffffff;
  text-transform: uppercase;
  border: 2px solid #ffffff;
  border-bottom: 2px solid #000000;
  position: static;
}

.button.downloadCV {
  background-color: #e4e8f0;
  color: #000000;
  text-transform: none;
  border: 2px solid #000000;
  position: static;
}

.button.downloadCV:hover {
  background-color: #000000;
  color: #ffffff;
  text-transform: uppercase;
  border: 2px solid #ffffff;
  border-bottom: 2px solid #000000;
  position: static;
}

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
}

div {
  display: block;
}

#work .row {
  background-color: #ffffff;
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
  padding-top: 25px;
}

#work h2 {
  text-align: center;
}

#hero h1 {
  text-align: center;
  padding-top: 0px;
  margin-top: 20px;
}

#mystory .container {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
  padding-top: 20px;
}

#getinked {
  padding-top: 40px;
}

#vocablab #footer.container {
  background: #e4e8f0;
  border-top: 2px solid #ffffff;
  display: inline-block;
  align: center;
  width: 100%;
}

#footer h2 {
  text-align: center;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.center {
  text-align: center;
}

.logo {
  max-width: 150px;
  min-width: 250px;
  font-size: 1.5em;
  font-weight: 600;
  line-height: 2.5em;
  float: left;
  position: relative;
}

nav {
  width: auto;
  float: right;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
}

.navtoggle.responsive li {
  display: block;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
}

.navtoggle.responsive li {
  display: block;
}

.navtoggle.responsive nav {
  padding: 0 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 0px 0;
  border-top: 0px solid rgba(255, 127, 80, 0.5);
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

div.social_icons, li.social {
  text-decoration: none;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

div.social_icons>li.social {
  display: block;
  padding: 10px;
  text-align: center;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.social_icons>ul {
  list-style-type: none;
  padding: 0;
}

.social_icons>ul>li {
  display: inline-block;
}

li {
  color: #000000
}

.icons {
  width: 75px;
  height: auto;
}

p.copyright {
  text-align: center;
}

#hero {
  background-color: #e4e8f0;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#hero span {
  display: block;
}

#about h3 {
  margin-top: 0;
}

#mystory .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

#telephone {
  /* id selector */
  color: #000000;
  font-weight: bold;
}

.telephone {
  /* class selector */
  color: #000000;
  font-weight: bold;
}

#telephone:hover {
  color: #000000;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 3px;
}

#telephone:focus {
  color: #000000;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 3px;
}

#skype {
  /* id selector */
  color: #000000;
  font-weight: bold;
}

.skype {
  /* class selector */
  color: #000000;
  font-weight: bold;
}

#skype:hover {
  color: #000000;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 3px;
}

#skype:focus {
  color: #000000;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 3px;
}

.background {
  width: 800px;
  margin: 30px auto;
}

@keyframes sky-change {
  0% {
    fill: #81d4fa;
  }

  50% {
    fill: #1b6182;
  }

  100% {
    fill: #9fbfcf;
  }
}

svg .cls-2 {
  animation-name: sky-change;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

svg .cls-21, svg .cls-20, svg .cls-19,
svg .cls-22, svg .cls-14, svg .cls-23 {
  animation-name: ship-move, ship-move1;
  animation-duration: 20s, 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-timing-function: ease-in-out;
}

@keyframes ship-move {
  0% {
    transform: translate(-240px);
  }

  100% {
    transform: translate(240px);
  }
}

@keyframes ship-move1 {
  0% {
    transform: rotate(3deg);
  }

  50% {
    transform: rotate(-0.5deg);
  }

  100% {
    transform: rotate(4deg);
  }
}

svg .cls-4:first-child, svg .cls-5 {
  animation-name: back-cloud-move;
  animation-duration: 200s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: translate(240px);
}

@keyframes back-cloud-move {
  0% {
    transform: translate(240px);
  }

  100% {
    transform: translate(-240px);
  }
}

svg .cls-4:not(:first-child), svg .cls-13 {
  animation-name: cloud-move;
  animation-duration: 70s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: translate(-240px);
}

@keyframes cloud-move {
  0% {
    transform: translate(-240px);
  }

  100% {
    transform: translate(240px);
  }
}

svg .cls-24 {
  animation-name: wave1-move;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: translateY(1px);
}

@keyframes wave1-move {
  0% {
    transform: translateY(2px);
  }

  50% {
    transform: translateY(-2px);
  }
}

svg .cls-25 {
  animation-name: wave2-move;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: translateY(0px);
}

@keyframes wave2-move {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(3px);
  }
}

svg .cls-26 {
  animation-name: wave3-move;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: translateY(0px);
}

@keyframes wave3-move {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(2px);
  }
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 641px) {
  header {
    text-align: unset;
    padding: 10px 0 13px;
  }

  main {
    padding-top: 70px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  nav>ul {
    margin: 1em 0;
  }

  nav>ul>li {
    display: inline-block;
  }

  nav>ul>div>li>a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #FFFFFF;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  #hero span {
    display: block;
  }

  #hero h1 {
    margin-top: 30px;
  }

  #about h3 {
    margin-top: 0;
  }

  div.container {
    margin: 0 auto;
  }

  .column {
    float: left;
    width: 50%;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
}

/* ==============================
Small devices (640px)
================================= */
@media only screen and (min-width: 640px) {
  .row::after {
    content: '';
    clear: both;
    display: table;
  }

  @media only screen and (min-width: 640px) {
    [class*='col-'] {
      float: left;
      padding: 10px;
    }

    /* ==============================
Large devices (1024px or larger)
================================= */
    @media only screen and (min-width: 1024px) {
      .container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
      }

      @media only screen and (min-width: 1024px) {
        .row::after {
          content: '';
          clear: both;
          display: table;
        }

        @media only screen and (min-width: 1024px) {
          .col-lg-6 {
            width: 50%;
            margin: auto;
          }

          @media only screen and (min-width: 1024px) {
            [class*='col-'] {
              float: left;
              padding: 10px;
            }

            /* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: left;
}
            }

            /* ==============================
Extra-large devices (1920px or larger)
================================= */
            @media only screen and (min-width: 1920px) {}

            /* 2340x1080 pixels at 476ppi */
            @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {}

            /* 2532x1170 pixels at 460ppi */
            @media only screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) {}

            /* 2778x1284 pixels at 458ppi */
            @media only screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) {}

            /* 1792x828px at 326ppi */
            @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {}

            /* 2436x1125px at 458ppi */
            @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {}

            /* 2688x1242px at 458ppi */
            @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) {}
